.card {
    width: 100%;
    background-color: #fff;
    border: none;
}

.image {
    display: inline-block
}

.name {
    font-size: 22px;
    font-weight: bold
}

.idd {
    font-size: 18px;
    font-weight: 600
}

.index {
    z-index: 9999;
    position: relative;
}

.text {
    font-size: 16px;
    text-align: left;

    a {
        color: #fff;
        background-color: #d63384;
        padding: 0 5px;
        text-decoration: none;
        margin-left: 5px;
        font-weight: bold;
    }

    a:hover {
        background-color: #e774ad;
    }
}

.label {
    min-height: 45px;
    width: 100%;
    font-size: 13px;
    color: #272727;
    font-weight: bold;
    background-color: #f7f7f7;
    padding: 10px;
    text-align: center;

    span {
        margin-right: 5px;
        font-weight: lighter;
    }

    a {
        color: #272727
    }

    a:hover {
        text-decoration: none
    }
}