.card {
    width: 100%;
    background-color: #fff;
    border: none;
    transition: all 0.5s;
    border-radius: 5px
}

.image {
    display: inline-block
}

.name {
    font-size: 22px;
    font-weight: bold
}

.idd {
    font-size: 18px;
    font-weight: 600
}

.text {
    font-size: 16px;
}

.label {
    font-size: 14px;
    color: #272727;
    font-weight: bold;
    background-color: #f7f7f7;
    padding: 0 15px;
    border-radius: 10px;
    text-align: center;
    min-height: 50px;

    span {
        margin-right: 10px;
        font-weight: lighter;
    }

    a {
        color: #272727
    }

    a:hover {
        text-decoration: none;
    }
}